$navbar-default-color: white;
$navbar-default-bg: black;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 6.5%);
$navbar-default-link-active-color: darken($navbar-default-link-color, 6.5%);

@import "bootstrap";

body {
  background-color: #cc00ff;

  @media (min-width: $screen-sm-min) {
    background-image: url('../../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
}

.container {
  max-width: 800px;
}

.content-section {
  padding-top: 70px;
  margin-top: -50px;

  &:first-child {
    padding-top: 120px;
  }

  &:last-child {
    padding-bottom: 20px;
  }
}

.content-box {
  border-radius: 8px;
  padding: 15px;
  background: $gray-lighter;

  > h2 {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}
