{{#nav-bar}}
  <li><a href="#intro">Intro</a></li>
  <li><a href="#budget">Lei-Out Budget</a></li>
  <li><a href="#calle">Brian Calle</a></li>
  <li><a href="#laout">LAOUT</a></li>
  <li><a href="#action">Take Action?</a></li>
  <li><a href="#whoami">Who Am I?</a></li>
{{/nav-bar}}

<div class="container">
  {{#content-section id="intro" title="What's This All About?"}}
    <p>
      Lei-Out’s revenues have risen to an estimated $250,000+ while the cost of
      running the tournament may well be a third of that or less, and its
      finances are a black box. This year a group of players who believe that we
      should be seeing a lot more value for all that money are starting a new
      beach tournament, {{#ext-a urls.throwback}}LA Throwback{{/ext-a}}, that
      will be held the same weekend in Santa Monica – read their statement
      {{#ext-a urls.whyThrowback}}here{{/ext-a}}.
    </p>
    <p>
      Brian Calle, the president of the organization that runs Lei-Out, is
      politically conservative and has ties to a number of right wing
      organizations, including being a primary actor in the recent purchase of
      the {{#ext-a urls.laWeekly}}L.A. Weekly{{/ext-a}}, an award-winning
      independent local newspaper, and the subsequent firing of all of its
      staff.
    </p>
    <p>
      Opinions vary widely on how relevant Calle’s politics are to the
      tournament and Ultimate community and on how much is reasonable for
      tournament staff to be paid, but given that there’s potentially upwards of
      $200,000 of profits, it’s very fair to ask whether everything is as it
      should be. The purpose of this web site is to ask that question, provide
      some context and relevant info for you to come up with your own answer,
      and then provide some ideas for what you might do if you think everything
      is not as it should be.
    </p>
    <p>
      Feel free to read straight through, or if you like, start by reading about
      <a href="#whoami">who I am</a> so you can understand my agenda, and what
      my likely biases are.
    </p>
  {{/content-section}}
  {{#content-section id="budget" title="Lei-Out Budget"}}
    <p>
      Last year Lei-Out had
      {{#ext-a urls.leioutBrackets}}384 teams{{/ext-a}}. Estimating an average
      of 13 players per team (just under 3 lines) paying the $50 bid fee, that’s
      $249,600.
    </p>
    <p>
      The fees paid to the city for the use of the beach were
      {{#ext-a urls.redditPermits}}under $7,500{{/ext-a}}. There are certainly
      other significant logistical expenses such as insurance, the open bar tabs
      for the parties and others mentioned in the
      {{#ext-a urls.leioutFaq}}Lei-Out FAQ{{/ext-a}}, but there seems to be no
      reason to believe that they would come anywhere close to the gap between
      the $7,500 field expenses and the $250,000 in revenue.
    </p>
    <p>
      The {{#ext-a urls.leioutFaq}}Lei-Out FAQ{{/ext-a}} refers to charitable
      contributions, specifically mentioning {{#ext-a urls.laout}}LAOUT{{/ext-a}}
      and {{#ext-a urls.eric}}E.R.I.C.{{/ext-a}} Last year
      {{#ext-a urls.laout}}LAOUT{{/ext-a}} started receiving 5% of Lei-Out's
      revenues according to their
      {{#ext-a urls.laoutMinutesAugust2017}}August 2017 minutes{{/ext-a}} (section
      g), and I have emailed {{#ext-a urls.eric}}E.R.I.C.{{/ext-a}} asking how
      much they receive from Lei-Out, but so far they have declined to answer.
    </p>
    <p>
      So, it appears highly plausible that the lion's share of that $250,000 is
      either going to pay the staff, or being donated to other non-Ultimate
      organizations. The {{#ext-a urls.leioutFaq}}Lei-Out FAQ{{/ext-a}} claims
      that the staff are not being paid six digits, but given the numbers above,
      this leaves more questions than answers about where all the revenue is
      actually going.
    </p>
    <p>
      Given Brian Calle's political positions and organizational affiliations,
      those of us that don't want our bid fees to be supporting right-wing
      causes seem justified in asking for some transparency as to the specifics
      of where all of that money is going.
    </p>
  {{/content-section}}
  {{#content-section id="calle" title="Brian Calle"}}
    <p>
      Brian Calle is the lead organizer of Lei-Out, and his
      {{#ext-a urls.calleLinkedIn}}LinkedIn profile{{/ext-a}} lists him as the
      president of Lei-Out Ultimate, presumably the corporate entity that puts
      on Lei-Out. His conservative politics are
      {{#ext-a urls.calWatchdog}}no secret{{/ext-a}}. He is also:
    </p>
    <ul>
      <li>
        Former Vice President and Senior Fellow at the
        {{#ext-a urls.claremont}}Claremont Institute{{/ext-a}},
        a conservative think tank.
      </li>
      <li>
        A former speaker at an {{#ext-a urls.familyActionPacEvent}}event{{/ext-a}}
        put on by the {{#ext-a urls.familyActionPac}}Family Action PAC{{/ext-a}},
        a self-proclaimed socially conservative organization whose mission
        includes opposing abortion and upholding "traditional family values."
      </li>
      <li>
        A (former?) Senior Fellow at the
        {{#ext-a urls.pacificResearch}}Pacific Research Institute{{/ext-a}}, another
        conservative think tank.
      </li>
    </ul>
    <p>
      Late last year he was also a primary actor in buying the
      {{#ext-a urls.laWeekly}}L.A. Weekly{{/ext-a}}, an independent newspaper in
      L.A. with an award-winning staff, all of whom were subsequently fired.
      Speculation is that the intent is to turn the paper into a conservative
      mouthpiece, but of course we don't realy know yet.
      {{#ext-a urls.laWeeklySnopes}}Here{{/ext-a}} is a good summary of what
      happened, and {{#ext-a urls.laWeeklyDeadspin}}here{{/ext-a}} is a deeper
      (and pretty one-sided) analysis of it, and its implications for the paper
      and journalism in L.A.
    </p>
    <p>
      Again, the point of this information isn't to imply that the entire
      Ultimate community leans or should lean left, or to villify Brian Calle,
      or to claim that there's something wrong with him running Lei-Out. Rather,
      it is to try to paint a clear picture of his politics so you can decide
      for yourself if it affects your comfort level with the uncertainty around
      where all the Lei-Out revenue goes when he's apparently in complete control
      of the budget and finances.
    </p>
  {{/content-section}}
  {{#content-section id="laout" title="LAOUT"}}
    <p>
      {{#ext-a urls.laout}}LAOUT{{/ext-a}} is the non-profit in L.A. that runs
      most of the local leagues and tournaments. It has no organizational ties
      to Lei-Out other than receiving a small cut of the revenues, although a few
      of the member of its board are also on the core Lei-Out staff. As is
      apparent from the below links from this site to their meeting minutes, the
      organization operates very transparently.
    </p>
    <p>
      It seems that there was an effort last year to get
      {{#ext-a urls.laout}}LAOUT{{/ext-a}} to "take over" Lei-Out by running its
      own beach tournament the same weekend. According to their
      {{#ext-a urls.laoutMinutesAugust2016}}August 2016 minutes{{/ext-a}} they
      refused, and have also refused to promote
      {{#ext-a urls.throwback}}LA Throwback{{/ext-a}} according to their
      {{#ext-a urls.laoutMinutesAugust2017}}August 2017 minutes{{/ext-a}} minutes
      (see their {{#ext-a urls.laoutMinutesMay2017}}May 2017 minutes{{/ext-a}} for
      more discussion of the issue.)
    </p>
    <p>
      I have heard rumors of a plan to turn Lei-Out over to
      {{#ext-a urls.laout}}LAOUT{{/ext-a}} in the next couple of years, but have
      been unable to find any written indication of this plan. This could
      presumably be a big boon to the organization and L.A. area Ultimate if
      they are able to use more than 5% of Lei-Out's revenues for their budget
      and operations, and it seems almost certain that they would provide the
      financial transparency that has been lacking.
    </p>
  {{/content-section}}
  {{#content-section id="action" title="Take Action?"}}
    <p>
      The point of all of this has been to shed some light on the situation
      surrounding Lei-Out's financials so that you can decide if you're fine with
      the situation, or if, like me, you are worried that things are not as they
      should be. I certainly don't think there's conclusive evidence of any kind
      of wrongdoing, but I also can't manage to convince myself that there
      isn't. Given the uncertaintly around where the estimated $250,000 in
      revenue is going, here are some questions I propose we ask ourselves:
    </p>
    <ol>
      <li>
        Do we as a community have a right to know what an organization putting
        on a tournament does with our bid fees?
      </li>
      <li>
        Do we as a community have a right to have any input into what such an
        organization does with our bid fees?
      </li>
      <li>
        Is there an amount of money that tournament staff could be personally
        making on a tournament that is inappropriate? If so, how much might that
        be?
      </li>
      <li>
        Should the personal politics and organizational affiliations of
        tournament staff factor in when considering the above questions?
      </li>
    </ol>
    <p>
      If your answers to those questions lead to you be uncomfortable with our
      current situation, as I am, here are some ideas of what you might do about
      it:
    </p>
    <ul>
      <li>
        Stop giving Lei-Out your bid fees. Don't attend, or attend
        {{#ext-a urls.throwback}}LA Throwback{{/ext-a}} instead.
      </li>
      <li>
        Contact the Lei-Out staff at
        {{#ext-a "mailto:leioutultimate@gmail.com"}}leioutultimate@gmail.com{{/ext-a}}
        or through social media and ask them to provide more transparency
        regarding their finances.
      </li>
      <li>
        Email Andy Bandit, the president of {{#ext-a urls.laout}}LAOUT{{/ext-a}}
        at {{#ext-a "mailto:president@laout.org"}}president@laout.org{{/ext-a}} or the
        {{#ext-a urls.laoutBoard}}other board members{{/ext-a}} and express your
        discomfort with Lei-Out's opaque finances, and ask them to support
        {{#ext-a urls.throwback}}LA Throwback{{/ext-a}} or run a beach
        tournament as {{#ext-a urls.laout}}LAOUT{{/ext-a}} rather than
        supporting Lei-Out as the status quo.
      </li>
      <li>
        Share this information with other Ultimate players
      </li>
    </ul>
  {{/content-section}}
  {{#content-section id="whoami" title="Who Am I?"}}
    <p>
      I'm Ben Demboski. I live in Seattle with my wife and 2-year-old and I have
      been playing Ultimate up here for over 20 years. I passionately love
      Ultimate and the local and global community of players, and believe deeply
      in the principle of spirit of the game, challenging myself to live by it
      as best as I can in all areas of my life. To me that means always starting
      from an assumption of good will, focusing on the good I see in others,
      showing respect even when (especially when) I disagree with others, and
      trying to recognize as quickly as possible when I haven't been at my best
      so I can make amends.
    </p>
    <p>
      I love getting down to L.A. every January to play Ultimate on the beach,
      but my personal and political sensibilities are offended by everything
      I've described here. I started out assuming the best and believing that
      there is a good explanation for all the unknowns, but the more I've
      learned, the less I've been able or willing to keep that attitude.
    </p>
    <p>
      I had no idea about any of this until a few months ago, so figuring that
      probably lots of other folks still don't, and many of them might want to
      know, I decided to put together this web site. Although my biases are
      clear, I tried to be as fact-focused as possible and be clear about when
      I was speculating or expressing an opinion. If I screwed up and you want
      to call me out, or just express your opinions or ask questions, feel free
      to email me at {{#ext-a "mailto:ben@leioutconfidential.com"}}ben@leioutconfidential.com{{/ext-a}}
    </p>
  {{/content-section}}
</div>
