{{#nav-bar}}
  <li><a href="#about">Overview</a></li>
  <li><a href="#budget">Leiout Budget</a></li>
  <li><a href="#calle">Brian Calle</a></li>
{{/nav-bar}}

<div class="container">
  {{#content-section id="about" title="What's This All About?"}}
    <p>
      Leiout’s revenues have risen to an estimated $250,000+ while the cost of
      running the tournament may be as low as a tenth of that, and its finances
      are a black box. This year a group of players who believe that we should
      be seeing a lot more value for all that money are starting a new beach
      tournament, {{#ext-a urls.throwback}}LA Throwback{{/ext-a}}, that will be
      held the same weekend in Santa Monica – read their statement
      {{#ext-a urls.whyThrowback}}here{{/ext-a}}.
    </p>
    <p>
      Brian Calle, the president of the organization that runs Leiout, is
      politically conservative and has ties to a number of right wing
      organizations, including being a primary actor in the recent purchase of
      the L.A. Weekly, an independent award-winning newspaper, and the
      subsequent firing of all of its staff.
    </p>
    <p>
      Opinions vary widely on how relevant Calle’s politics are to the
      tournament and Ultimate community and on how much is reasonable for
      tournament staff to be paid, but given that there’s potentially upwards of
      $200,000 of profits, it’s very fair to ask whether everything is as it
      should be. The purpose of this web site is to ask that question, provide
      some context and relevant info for you to come up with your own answer,
      and then provide some ideas for what you might do if you think everything
      is not as it should be.
    </p>
  {{/content-section}}
  {{#content-section id="budget" title="Leiout Budget"}}
    <p>
      Last year Leiout had
      {{#ext-a urls.leioutBrackets}}384 teams{{/ext-a}}. Estimating an average
      of 13 players per team (just under 3 lines) paying the $50 bid fee, that’s
      $249,600.
    </p>
    <p>
      The fees paid to the city for the use of the beach were
      {{#ext-a urls.redditPermits}}under $7,500{{/ext-a}}. There are certainly
      other significant expenses such as insurance, the open bar tabs for the
      parties and others mentioned in the
      {{#ext-a urls.leioutFaq}}Leiout FAQ{{/ext-a}}, but there seems to be no
      reason to believe that they would come anywhere close to the gap between
      the $7,500 field expenses and the $250,000 in revenue.
    </p>
    <p>
      So, it appears highly plausible that the lion's share of that $250,000 is
      either going to pay the staff, or being donated to other organizations.
      The {{#ext-a urls.leioutFaq}}Leiout FAQ{{/ext-a}} claims that the staff
      are not being paid six digits, but also says nothing about how much is
      contributed to various charities such as
      {{#ext-a urls.eric}}E.R.I.C.{{/ext-a}} and
      {{#ext-a urls.laout}}LAOut{{/ext-a}}.
      Given Brian Calle's political positions and organizational affiliations,
      those of us that don't want our bid fees to be supporting right-wing
      causes seem justified is asking for some transparency as to the specifics
      of where all of that money is going.
    </p>
  {{/content-section}}
  {{#content-section id="calle" title="Brian Calle"}}
    <p>
      Brian Calle is the lead organizer of Leiout, and his
      {{#ext-a urls.calleLinkedIn}}LinkedIn profile{{/ext-a}} lists him as the
      president of Lei-Out Ultimate, presumably the corporate entity that puts
      on Leiout. His conservative politics are
      {{#ext-a urls.calWatchdog}}no secret{{/ext-a}}. He is also:
    </p>
    <ul>
      <li>
        Former Vice President and Senior Fellow at the
        {{#ext-a urls.claremont}}Claremont Institute{{/ext-a}},
        a conservative think tank.
      </li>
      <li>
        A former speaker at an {{#ext-a urls.familyActionPacEvent}}event{{/ext-a}}
        put on by the {{#ext-a urls.familyActionPac}}Family Action PAC{{/ext-a}},
        a self-proclaimed socially conservative organization whose mission
        includes opposing abortion and upholding "traditional family values."
      </li>
      <li>
        A (former?) Senior Fellow at the
        {{#ext-a urls.pacificResearch}}Pacific Research Institute{{/ext-a}}, another
        conservative think tank.
      </li>
    </ul>
    <p>
      Late last year he was also a primary actor in buying the L.A. Weekly, an
      independent newspaper in L.A. with an award-winning staff, all of whom were
      subsequently fired. Speculation is that the intent is to turn the L.A.
      Weekly into a conservative mouthpiece, but of course we don't realy know
      yet. {{#ext-a urls.laWeeklySnopes}}Here{{/ext-a}} is a good summary of what
      happened, and {{#ext-a urls.laWeeklyDeadspin}}here{{/ext-a}} is a deeper
      analysis of it, and its implications the paper and journalism in L.A.
    </p>
    <p>
      Again, the point of this information isn't to imply that the entire
      Ultimate community leans or should lean left, or to villify Brian Calle,
      or to claim that there's something wrong with him running Leiout. Rather,
      it is to try to paint a clear picture of his politics so you can decide
      for yourself if you're comfortable with the uncertainty around where all
      the Leiout revenue goes when he's apparently in complete control of the
      budget and finances.
    </p>
  {{/content-section}}
</div>
